* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'segoe ui';
}

/* Adiciona uma cor de fundo ao menu principal */
.menu-principal {
    background-color: rgb(45, 84, 255);
    overflow: hidden;
    height: 50px;
    width: 100%;
    position: relative;
}

.menu-principal a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-logo {
    display: inline-block !important;
    padding: 4px;
    fill: #fff;
}

.menu-titulo {
    display: inline-block !important;
    font-family: sans-serif;
    padding-top: 8px;
    color: #fff;
    vertical-align: top;
}

/* Change the color of links on hover */
.menu-principal a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.menu-principal a:active {
    background-color: rgb(0, 26, 255);
    color: black;
}
  