<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AADC - Aplicação para Análise de Dados do Covid-19 no DF</title>
    <link rel="stylesheet" href="css/style.css">
    <div class="menu-principal">
        <object type="image/svg+xml" data="img/logo.svg" class="menu-logo" height="50"></object>
        <b class="menu-titulo">
        APLICAÇÃO PARA ANÁLISE DE<br>
        DADOS DE COVID-19 NO DF
        </b>
        <a href="#">Sobre</a>
        <a href="#">Início</a>
    </div>
</head>

<body>
<table>
    <tbody>
        {%for graphic in graphics %}
        <tr>
            <td>{{ graphic }}</td>
            <img  class="img-responsive watch-right" alt="" src="{{graphic.ImageGraphic}}"/>
            <img src="image/png;base64,{{ graphic.ImageGraphic }}" alt="" height="480", width="480">
        </tr>
        {% endfor %}
    </tbody>
</table>
    <svg role="img" height="120">
        <use xlink:href="img/logo.svg"/>
    </svg>

</body>
</html>